.detailsContainer {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.detailsHeader {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


.classesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las cajas */
}

.detailBox {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 250px; /* Ancho fijo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.detailItem {
  margin-bottom: 10px; /* Espaciado entre detalles */
  font-size: 16px;
}

.backButton {
  position: absolute; /* Posicionamiento absoluto */
  top: 10px; /* Distancia desde la parte superior */
  left: 10px; /* Distancia desde la parte izquierda */
  background-color: skyblue; /* Fondo blanco */
  border: 5px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  cursor: pointer; /* Cursor de clic */
  transition: background-color 0.3s; /* Efecto al pasar el ratón */
}

.backButton:hover {
  background-color: #f0f0f0; /* Cambio de fondo al pasar el ratón */
}
