/* Estilos generales para la página */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el formulario de login */
.loginForm {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginForm h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.loginForm input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.loginForm input:focus {
  border-color: #646cff;
  outline: none;
}

.loginForm button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.loginForm button:hover {
  background-color: #535bf2;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .loginForm {
    padding: 15px;
    max-width: 90%;
  }

  .loginForm h2 {
    font-size: 20px;
  }

  .loginForm input {
    font-size: 14px;
  }

  .loginForm button {
    font-size: 14px;
  }
}
